# Testing
coverage/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Log files
*.log

# Temp
temp/
tmp/

# Applications
*.app
*.exe
*.war

# Large media files
*.avi
*.flv
*.mov
*.mp4
*.tiff
*.wmv

# Vagrant
/.vagrant

# IDE support files
/eclipse
/venv
/ivy*
/.apt_generated
/.classpath
/.factorypath
/.launch
/.project
/.settings
/.idea
/*.launch
/*.tmproj
.vs/
*.iml
*.ipr
*.iws

# OS-specific
Thumbs.db
Thumbs.db:*
.DS_Store

# Miscellaneous
._*
*.orig
*.swp
*.tgz
